.List {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .ListItem {
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #f9e18d;
      transition: background-color 0.3s;
    }

    span {
      font-size: 25px;
    }

  }

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.active {
  background-color: #f9e18d;
}
