.Workspace {
  width: 75%;
  height: 90vh;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  font-size: 20px;
  border: none;
  resize: none;

  &::first-line {
    font-weight: bold;
    font-size: 23px;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: 1px solid #1890FF;
  }
}
